@model EventPlatFormVer4.Models.Event

@{
    ViewData["Title"] = "Apply";
}

<h1>可报名活动</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("活动名称")
            </th>
            <th>
                @Html.DisplayName("活动等级")
            </th>
            <th>
                @Html.DisplayName("开始时间")
            </th>
            <th>
                @Html.DisplayName("结束时间")
            </th>
            <th>
                @Html.DisplayName("报名开始时间")
            </th>
            <th>
                @Html.DisplayName("报名结束时间")
            </th>
            <th>
                @Html.DisplayName("活动地址")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.EventStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.EventEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.SignUpStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.SignUpEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Address)
                </td>
            </tr>
    </tbody>
</table>
<div>
    <a asp-action="Back" asp-route-participantId="@ViewData["Participant_Id"]">继续报名</a>
</div>

