@model IEnumerable<EventPlatFormVer4.Models.EventParticipant>

@{
    ViewData["Title"] = "ExitEvent";
}

<h1>已参加活动</h1>

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayName("开始时间")
            </th>
            <th>
                @Html.DisplayName("结束时间")
            </th>
            <th>
                @Html.DisplayName("活动地址")
            </th>
            <th>
                @Html.DisplayName("报名状态")
            </th>
            <th>
                @Html.DisplayName("报名")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Event.EventStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Address)
            </td>
            <td>
                @if (item.State == 0)
                {
                    @Html.Display("待审核")
                }
                @if (item.State == 1)
                {
                    @Html.Display("报名成功")
                }
                @if (item.State == 2)
                {
                    @Html.Display("被拒绝")
                }
                @if (item.State == 3)
                {
                    @Html.Display("已退赛")
                }
            </td>
            <td>
                <a asp-action="ExitEvent" asp-route-id="@ViewData["Pid"]">ExitEvent</a> |
            </td>
            <td asp-action="Info" asp-route-id="@ViewData["Pid"]">Back</td>
        </tr>
}
    </tbody>
</table>
