@model IEnumerable<EventPlatFormVer4.Models.EventParticipant>

@{
    ViewData["Title"] = "History Events";
}

<h1>工作台</h1>
<button><a asp-action="Details" asp-route-id="@ViewData["Participant_Id"]">返回</a></button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("近期待参加活动")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.EventStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.EventEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Address)
            </th>
            <th>
                @Html.DisplayName("具体细节")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if ((item.ParticipantId == @ViewData["Participant_Id"]) && (item.Event.EventEndTime >= DateTime.Now))
            {
                <tr>
                    <td>
                        @Html.DisplayName(" ")
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Event.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Event.Rank)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Event.EventStartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Event.EventEndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Event.Address)
                    </td>
                    <td>
                        <button> <a asp-action="DetailsForParticipants" asp-route-eventid="@item.Event_Id" asp-route-admid="@ViewData["Participant_Id"]">审核</a></button>
                    </td>
                </tr>
            }
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayName("待审核活动")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.SignUpEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.EventEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Address)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.State == 2)
            {
                <tr>
                    <td>
                        @Html.DisplayName("·")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rank)
                    </td>
                    <td>
                        <button> <a asp-action="Verify" asp-route-eventid="@item.Id" asp-route-admid="@ViewData["admid"]">审核</a></button>
                    </td>

                </tr>
            }
        }
    </tbody>

    <thead>
        <tr>
               <th>
                     @Html.DisplayName("已参加活动")
               </th>
               <th>
                     @Html.DisplayNameFor(model => model.Event.Name)
               </th>
               <th>
                     @Html.DisplayNameFor(model => model.Event.Rank)
               </th>
               <th>
                     @Html.DisplayNameFor(model => model.Event.EventEndTime)
               </th>
               <th>
                     @Html.DisplayNameFor(model => model.Grade)
               </th>
               <th>
                     @Html.DisplayName("具体细节")
               </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if ((item.ParticipantId == @ViewData["Participant_Id"]) && (item.Event.EventEndTime < DateTime.Now))
            {
                <tr>
                       <td>
                             @Html.DisplayName(" ")
                       </td>
                       <td>
                             @Html.DisplayFor(model => model.Event.Name)
                       </td>
                       <td>
                             @Html.DisplayFor(model => model.Event.Rank)
                       </td>
                       <td>
                             @Html.DisplayFor(model => model.Event.EventEndTime)
                       </td>
                       <td>
                             @Html.DisplayFor(model => model.Grade)
                       </td>
                       <td>
                             <button> <a asp-action="Verify" asp-route-eventid="@item.Id" asp-route-admid="@ViewData["admid"]">具体细节</a></button>
                       </td>
                </tr>
            }
        }
    </tbody>
</table>