@model IEnumerable<EventPlatFormVer4.Models.Event>

@{
    ViewData["Title"] = "GotoApply";
}

<h1>可报名活动</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("活动名称")
            </th>
            <th>
                @Html.DisplayName("活动等级")
            </th>

            <th>
                @Html.DisplayName("开始时间")
            </th>
            <th>
                @Html.DisplayName("结束时间")
            </th>
            <th>
                @Html.DisplayName("报名开始时间")
            </th>
            <th>
                @Html.DisplayName("报名结束时间")
            </th>
            <th>
                @Html.DisplayName("活动地址")
            </th>
            <th>
                @Html.DisplayName("报名")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SignUpStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SignUpEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Apply" asp-route-id="@ViewData["Pid"]">Apply</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Info" asp-route-id="@ViewData["Pid"]">Back</a>
</div>

