@model IEnumerable<EventPlatFormVer4.Models.Event>

@{
    ViewData["Title"] = "Info_Apply";
}

<h2>申报活动</h2>
<button><a asp-action="Apply" asp-route-id="@ViewData["admid"]">注册活动</a></button>
<button><a asp-action="Details" asp-route-id="@ViewData["admid"]">返回</a></button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("待批准活动")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayName("其他")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.State == 0)
            {
                <tr>
                    <td>
                        @Html.DisplayName("·")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rank)
                    </td>
                    <td>
                        <button> <a asp-action="Show_Apply" asp-route-eventid="@item.Id" asp-route-sid="@ViewData["admid"]">详细信息</a></button>
                    </td>
                </tr>
            }
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayName("已批准")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayName("其他")
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            @if (item.State == 1)
            {
                <tr>
                    <td>
                        @Html.DisplayName("·")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rank)
                    </td>
                    <td>
                        <button> <a asp-action="Show_Apply" asp-route-eventid="@item.Id" asp-route-sid="@ViewData["admid"]">详细信息</a></button>
                    </td>

                </tr>
            }
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayName("已拒绝活动")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayName("其他")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.State == 2)
            {
                <tr>
                    <td>
                        @Html.DisplayName("·")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rank)
                    </td>
                    <td>
                        <button> <a asp-action="Show_Apply" asp-route-eventid="@item.Id" asp-route-sid="@ViewData["admid"]">详细信息</a></button>
                    </td>

                </tr>
            }
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayName("请求撤销活动")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayName("其他")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.State == 3)
            {
                <tr>
                    <td>
                        @Html.DisplayName("·")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rank)
                    </td>
                    <td>
                        <button>  <a asp-action="Show_Apply" asp-route-eventid="@item.Id" asp-route-sid="@ViewData["admid"]">详细信息</a></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>